<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add your RSVP post!</title>
</head>
<body style="background-color: #eee;">
<nav th:replace="index :: navbar"></nav>
<form class="w-auto" th:action="@{/processRSVP}" th:object="${post}" method="post">

    <div class="card bg-light mb-3 mt-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header text-center">RSVP Form</div>
        <div class="card-body">
            <input type="hidden" th:field="*{id}">
            <p class="card-text">Date</p>
            <input type="date" th:field="*{date}"> <br><br>
            <p class="card-text">Message:</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" th:field="*{message}"> <br>
            </div>
            <p class="card-text">Attending:</p>

            <div class="text-center"><input type="radio" th:field="*{attending}" id="yes" value="true">
                <label for="yes">Yes</label>
                <input type="radio" th:field="*{attending}" id="no" value="false">
                <label for="no">No</label> <br></div>
            <input type="submit" value="Submit">
        </div>
    </div>


</form>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
